<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178511662085-n36f8ue689tkb435mvamttii2fs5r361.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178511662085-n36f8ue689tkb435mvamttii2fs5r361</string>
	<key>API_KEY</key>
	<string>AIzaSyBhRt2f1IUqJ0uInrniznh32VQsP8_2o_I</string>
	<key>GCM_SENDER_ID</key>
	<string>178511662085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UFPE.Veg</string>
	<key>PROJECT_ID</key>
	<string>vegaps-40f72</string>
	<key>STORAGE_BUCKET</key>
	<string>vegaps-40f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178511662085:ios:465eb650ff005eb8</string>
	<key>DATABASE_URL</key>
	<string>https://vegaps-40f72.firebaseio.com</string>
</dict>
</plist>